/* Style the header with a grey background and some padding */

@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.header {
    overflow: hidden;
    background-color: #d1202a;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    transition: 0.2s;
    color: whitesmoke;
  }
  
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


  /* BODY DE LA PÃGINA WEB*/
  body {
      margin: 0px;
  }

  /*FOOTER*/

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  /*BODY CONTENTS*/


  body, html {
    height: 100%;
    }

    /* The hero image */
    .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hospitalimg.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

    /* Place text in the middle of the image */
    .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    }

    .informativo-div {
        background-color: grey;
        padding-top: 15px;
        padding-bottom: 1px;

    }

    .informativo-div p {
        color: white;
        text-align: center;
        font-family: 'Akshar', sans-serif;
        font-size: 20px;
    }

    .div-imagenForm{
        width: auto;
        height: auto;
        background-position: center;
	      background-attachment: contain;
    	  background-size: cover;
        
    }

    .div-reserva{
        z-index: 2000;
        position: absolute;
        width: 324px;
        transform: translate(733px,-690px);
    }

    #form-text{
      font-family: 'Kanit', sans-serif;
        font-size: 14px;
    }

    #form-h{
      font-family: 'Kanit', sans-serif;
    }

    form {
      background-color: transparent;
      border-radius: 3px;
      color: black;
      padding: 10px;
      font-size: 12px;
      margin: 0 auto;
      width: 300px;
    }
    
    input{
      border: 0;
      outline: none;
      width: 280px;
    }
    
    .field{
      border: 1px solid #ccc;
      padding: 10px;
      width: 280px;
      transform: translate(0px, -20px);
    }
    
    .boton-form-reservar{
      background-color: #c1c1c1;
      width: 130px;
      border: 0;
      transform: translate(80px);
    }

    .boton-form-reservar:hover{
      background-color: white;
      width: 130px;
      border: 0;
      transform: translate(80px);
    }

    #registrarse {
      color: #aaa;
    }

    #registrarse:hover{
        color: white;
        text-decoration: none;
    }